<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MarkdownLinker</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>64</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>script.js</string>
			</dict>
		</array>
		<key>SFSafariContextMenu</key>
		<array>
			<dict>
				<key>Command</key>
				<string>Command1</string>
				<key>Text</key>
				<string>Copy Markdown Link</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>Command2</string>
				<key>Text</key>
				<string>Text</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>Command3</string>
				<key>Text</key>
				<string>Text</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>Command4</string>
				<key>Text</key>
				<string>Text</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>Command5</string>
				<key>Text</key>
				<string>Text</string>
			</dict>
		</array>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*</string>
			</array>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 horimislime. All rights reserved.</string>
	<key>NSHumanReadableDescription</key>
	<string>Copying markdown link gets easy.</string>
</dict>
</plist>
